/**    tags     */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    width: 99vw;
    background-color: #c2bfbf;
}

header {
    width: 100vw;
    height: 10%;
    background-color: #c2bfbf;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

line {
    stroke: rgb(23, 23, 29);
    stroke-width: 0.25%;
    stroke-linecap: round;
}

a {
    text-decoration: none;
}

div {
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: space-around;
}

svg {
    background-color: aliceblue;
}

button {
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #918f8f;
}

img {
    width: 25px;
    height: 25px;
}

/**    ids     */
#titulo {
    width: 100%;
    background-color: #c2bfbf;
}
 #inputTime{
     height: 25px; 
}

/**    classes   */
.corpo {
    width: 96%;
    height: 23.5em;
    margin-left: 2%;
}

.principal {
    width: 98%;
    height: 23.5em;
    margin-left: 1%;
}

.suplementar {
    stroke-width: 0.7%;
    opacity: 0.05;
}

.time {
    stroke: rgb(58, 12, 226);
    stroke-width: 0.4%;
}

.compasso {
    stroke-width: 0.3%;
}

.lastLine {
    stroke-width: 0.5%;
    stroke-linecap: butt;
}

.circle {
    stroke: #000;
    stroke-width: 1px;
    fill: none;
}

.linejoincolcheia {
    stroke-width: 0.99%;
    stroke-linecap: round;
}

.linejoinsemicolcheia {
    stroke-width: 0.48%;
}

.nav {
    width: 20vw;
    height: 100px;
    background-color: #c2bfbf;
}

.botoesControle {
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.botoesNotas {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.botoesPausas {
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}